In [1]:
import sys
sys.argv.append(["--max-memory", "90%"])

In [2]:
import geopandas as gpd
import os
from src import tessellate_hex
import matplotlib.pyplot as plt
import r5py
import datetime
import pandas as pd
import numpy as np

In [3]:
os.chdir('/Users/benpage/Documents/GitHub/r5food/data')

In [4]:
supermarkets = gpd.read_file('supermarkets.geojson')
tor_boundry = gpd.read_file('tor_boundry.geojson')

In [5]:
boundry_geo = tor_boundry.geometry
tor_hex = tessellate_hex(boundry_geo, res = 10)

In [6]:
hex_point = tor_hex.copy().to_crs('EPSG:26917')
hex_point['geometry'] = hex_point['geometry'].centroid

In [ ]:
tor_hex.explore()

hex_point.explore()

supermarkets.explore(column = 'brand')

supermarkets.head()

In [7]:
supermarkets['brand'].unique()

array([None, 'No Frills', 'Food Basics', 'Marché Adonis', 'Rabba',
       'Whole Foods Market', 'Sobeys', 'Loblaws', 'Metro', 'Farm Boy',
       'Whole Foods', 'Valu-mart', "Longo's", 'Bulk Barn',
       'Real Canadian Superstore', 'T&T Supermarket', 'Walmart',
       'FreshCo', 'Foodland', 'Your Independent Grocer', 'Fortinos',
       'The Source Bulk Foods', 'Yours', 'H Mart', 'The Grocery Outlet',
       'Eataly'], dtype=object)

In [8]:
brand_name = 'Walmart'

In [9]:
dests = supermarkets.query("brand == @brand_name")

In [10]:
origins = hex_point

In [11]:
origins

          id                        geometry
0          0  POINT (639220.289 4840269.868)
1          1  POINT (613083.685 4844845.978)
2          2  POINT (642865.222 4846222.197)
3          3  POINT (624208.751 4846353.142)
4          4   POINT (613519.38 4837369.747)
...      ...                             ...
40240  40240  POINT (615877.521 4833845.898)
40241  40241  POINT (637054.551 4841411.273)
40242  40242   POINT (616735.335 4845633.48)
40243  40243  POINT (622003.498 4847972.257)
40244  40244  POINT (646110.753 4847092.507)

[40245 rows x 2 columns]

In [12]:
(dests['id'].value_counts() > 1).value_counts()

count
False    9
Name: count, dtype: int64

In [13]:
transport_network = r5py.TransportNetwork('Toronto.osm.pbf', 
                                          gtfs='ttc_gtfs.zip')

In [ ]:
travel_time_matrix = r5py.TravelTimeMatrix(
    transport_network,
    origins=origins,
    destinations=dests,
    transport_modes=[r5py.TransportMode.TRANSIT],
    departure=datetime.datetime(2025, 4, 11, 18, 0, 0),
)

In [ ]:
df = travel_time_matrix.dropna(subset=['travel_time'])

In [ ]:
idx = df.groupby('from_id')['travel_time'].idxmin()
result = df.loc[idx]

In [ ]:
tor_hex

In [ ]:
result.columns

In [ ]:
mergeL = pd.merge(tor_hex, result, left_on='id', right_on='from_id', how = 'left')
mergeL

In [ ]:
mergeL.explore(column = 'travel_time')